.demo {
  width: 320px;
  min-height: 667px;
  background: url('../img/bg-back-mobile@1x.jpg') top no-repeat;
  background-position: 50% 0%;
  background-color: #17212d;
  margin-bottom: 46px;
}

.demo__slogan {
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 225px;
  padding-top: 28px;
  margin: 0;
  margin-left: 50px;
  margin-bottom: 347px;
}

.demo__button {
  display: block;
  font-family: Open Sans;
  color: #ffffff;
  font-size: 18px;
  line-height: 45px;
  font-weight: 700;
  border: 3px solid #ffffff;
  border-radius: 50px;
  text-align: center;
  margin-left: 20px;
  width: 281px;
  height: 45px;
  margin-bottom: 32px;
}

.demo__apps {
  width: 205px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.apps__iphone {
  display: flex;
  position: relative;
  padding-left: 47px;
  align-items: flex-end;
}

.apps__iphone::before {
  content: "";
  display: block;
  position: absolute;
  background: url('../img/logo-apple.svg') center no-repeat;
  width: 47px;
  height: 56px;
}

.apps__android {
  display: flex;
  position: relative;
  padding-left: 43px;
  align-items: flex-end;
}

.apps__android::before {
  content: "";
  display: block;
  position: absolute;
  background: url('../img/logo-android.svg') center no-repeat;
  width: 43px;
  height: 47px;
}

.apps__windows {
  display: flex;
  position: relative;
  padding-left: 44px;
  align-items: flex-end;
}

.apps__windows::before {
  content: "";
  display: block;
  position: absolute;
  background: url('../img/logo-microsoft.svg') center no-repeat;
  width: 44px;
  height: 41px;
}

.demo__description {
  display: block;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  width: 230px;
  margin-left: 45px;
}