.footer {
  margin-bottom: 50px;
}

.footer__wrapper {
  width: inherit;
}

.footer__link {
  display: block;
  margin: 0 auto;
  width: 147px;
}

.footer__logo {
  width: inherit;
}

.footer__logo:hover {
  fill: #d22856;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__text {
  position: relative;
  line-height: 18px;
  color: #283645;
  text-align: center;
  padding-right: 42px;
}

.footer__text::after {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/logo-htmlacademy.svg") center no-repeat;
  width: 27px;
  height: 34px;
  top: -5px;
  left: 197px;
}

.footer__link:hover {
  fill: #283645;
}

.footer__link:active {
  fill: #283645;
  opacity: 0.3;
}
