.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  width: 320px;
}

.main-nav__burger-menu {
  display: block;
  position: absolute;
  background-image: url('../img/icon-menu-burger.svg');
  width: 50px;
  height: 24px;
  top: 20px;
  right: 200px;
  background-color: transparent;
  border: none;
}

.main-nav__wrapper {
}

.main-nav__list {
  list-style: none;
  padding-left: 0;
  border: 1px solid #000000;
  margin: 0;
}

.site-list__item {
  border-top: 1px solid rgba(225,225,225,0.15);
  border-bottom: 1px solid #000000;
  text-align: center;
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 63px;
  text-align: center;
}
