body {
  max-width: 320px;
  margin: 0 auto;
}

.page-header {
  width: 320px;
  background-color: #283645;
}

.page-header__logo {
  text-decoration: none;
  margin-left: 12px;
  margin-top: 20px;
  margin-bottom: 16px;
}