.page-form {
  width: 320px;
  background: url("../img/bg-back-mobile@1x.jpg") top no-repeat;
  background-size: 320px 200px; /*это временная мера, чтобы удобнее было смотреть*/
}

.page-form__name {
  display: block;
  width: 228px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding-top: 36px;
  margin-bottom: 65px;
}
