.page-photo {
  background: url("../img/bg-back-mobile@1x.jpg") top no-repeat;
  background-size: 320px 200px; /*это временная мера, чтобы удобнее было смотреть*/
}

.page-photo__name {
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  padding-top: 35px;
  margin-bottom: 156px;
}

.page-photo__post-photo {
  display: block;
  width: 280px;
  height: 55px;
  border: solid 3px #d22856;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #d22856;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
}

.page-photo__post-photo:hover {
  background-color: #d22856;
  color: #ffffff;
}

.page-photo__post-photo:active {
  background-color: #d22856;
  color: rgba(255, 255, 255, 0.3);
}

.page-photo__cancel {
  display: block;
  width: 280px;
  height: 55px;
  border: solid 3px rgba(40, 54, 69, 0.1);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(40, 54, 69, 0.1);
  text-align: center;
  margin: 0 auto;
}

.page-photo__cancel:hover {
  opacity: 0.3;
  border-color: #283645;
}

.page-photo__cancel:active {
  opacity: 0.3;
  background-color: #283645;
  color: rgba(255, 255, 255, 0.3);
}
